body{
    background: #0F2027;  /* fallback for old browsers */
}
img{
    max-width: 100%;
}
.quitar-float{
    float: none;
}
.espacio-arriba{
    margin-top: 300px;
}
.espacio-derecha{
    margin-left: 300px;
}
#principal{
    width: 75%;
    float: none;
    margin-left: 200px;
}
.dmMono{
    font-family: 'DM Mono', monospace;
}
