{% extends "layout.html" %}

{% block content %}
<h1>BRAZOS</h1>
<html>
  <head>
    <meta charset="utf-8">
    <title>Biceps</title>
  </head>
  <body>
    <center> <font color = "white" size = "10px" face="Lato">Biceps mancuerna</font><br> </center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/EySkaFml4bs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </body>
</html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Biceps</title>
  </head>
  <body>
    <center> <font color = "white" size = "10px" face="Lato">Biceps polea</font><br> </center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/KOSA0-ZKGsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </body>
</html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Triceps</title>
  </head>
  <body>
    <center> <font color = "white" size = "10px" face="Lato">Triceps a la frente</font><br> </center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/NCvUijJ3uwU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </body>
</html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Triceps</title>
  </head>
  <body>
    <center> <font color = "white" size = "10px" face="Lato">Triceps polea</font><br> </center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/Knta24y5TLA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </body>
</html>
{% endblock %}