{% extends "layout.html" %}

{% block content %}
<h1>HOMBROS</h1>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hombros</title>
  </head>
  <body>
    <center> <font color = "white" size = "10px" face="Lato">Ejercicios de hombros</font><br> </center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/j6TLAIh20MI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </body>
</html>
{% endblock %}