{% extends "layout.html" %}

{% block content %}

</div>
<div class="card text-center" style="width: 40rem; margin-left: 350px;  margin-top: 50px;">
  <img src="https://sumedico.blob.core.windows.net/images/2019/08/02/ejerciciosenexceso_1-focus-min0.06-0.57-983-557.jpg" class="card-img-top img-fluid" >
  <div class="card-body">
    <h3 class="card-title">EJERCITATE!</h3>
    <p class="card-text">Ejercicios y rutinas</p>
    <a href="{{ url_for('about') }}" class="btn btn-primary">¡VAMOS!</a>
  </div>
</div>

<div class="card text-center" style="width: 40rem; margin-left: 350px;  margin-top: 50px;  margin-bottom: 100px;">
  <img src="https://img.over-blog-kiwi.com/1/00/57/77/20190414/ob_1f8898_10-consejos-para-una-alimentacion-sal.jpg" class="card-img-top img-fluid" >
  <div class="card-body">
    <h3 class="card-title">ALIMENTATE!</h3>
    <p class="card-text">Alimentos y recetas</p>
    <a href="{{ url_for('comidas') }}" class="btn btn-primary">¡VAMOS!</a>
  </div>
</div>
</div>

{% endblock %}