{% extends "layout.html" %}

{% block content %}

</div>
<div class="card" style="width: 38rem;">
  <img src="barradepesas.jpg" class="card-img-top img-fluid" alt="...">
  <div class="card-body">
    <h3 class="card-title">Ejercicios diarios</h3>
    <p class="card-text">Guía de ejercicios para hacer en casa</p>
    <a href="{{ url_for('about') }}" class="btn btn-primary">VAMOS!</a>
  </div>
</div>

<div class="card" style="width: 38rem;">
  <img src="..." class="card-img-top img-fluid" alt="...">
  <div class="card-body">
    <h3 class="card-title">Snacks saludables</h3>
    <p class="card-text">Suplementos y alimentos para formar una dieta balanceada</p>
    <a href="{{ url_for('comidas') }}" class="btn btn-primary">VAMOS!</a>
  </div>
</div>
</div>



{% endblock %}