{% extends "layout.html" %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ejercicios diarios</h5>
          <p class="card-text">Guía de ejercicios para hacer en casa</p>
          <a href="#" class="btn btn-primary">IR</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Snacks saludables</h5>
          <p class="card-text">Suplementos y alimentos para formar una dieta balanceada</p>
          <a href="#" class="btn btn-primary">IR</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}