{% extends "layout.html" %}

{% block content %}
<h1>PECHO</h1>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pecho</title>
  </head>
  <body>
    <center> <font color = "white" size = "10px" face="Lato">Pecho inclinado</font><br> </center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/gQoA5cyLDKY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </body>
</html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pecho</title>
  </head>
  <body>
    <center> <font color = "white" size = "10px" face="Lato">Pecho polea</font><br> </center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/W4zvlH2vrzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </body>
</html>
{% endblock %}